HELP.md

### Build ###
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven Wrapper ###
.mvn/wrapper/maven-wrapper.jar

### Archivos de configuración sensibles ###
src/main/resources/application.properties
src/main/resources/application.yml
src/main/resources/*.secret
.env
*.env

### Logs y dumps ###
*.log
*.out
*.err
hs_err_pid*
*.hprof

### IDEs ###
# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/
